<!DOCTYPE html>
<html>
  <head>
    <title>ReactOnRailsWithShakapacker</title>
    <%= csrf_meta_tags %>
    <%= javascript_pack_tag 'wanderwattz-ems-bundle' %>
    <%= stylesheet_pack_tag 'wanderwattz-ems-bundle' %>
  </head>

  <body>
    <%= react_component("PageLayout") %>
    <%= yield %>
  </body>
</html>
